<div class="dashboard">
  <div
    class="draggable-container"
    draggable
  >
    <div
      class="draggable-container__header"
      drag-handle
    >Test draggable 1</div>
    <div class="draggable-container__body">
      <div
        class="draggable-container draggable-container_inner"
        draggable
      >
        <div
          class="draggable-container__header"
          drag-handle
        >Inner test draggable 1</div>
        <div
          class="draggable-container__body"
        ></div>
      </div>
    </div>
  </div>
  <div
    class="draggable-container"
    draggable
  >
    <div
      class="draggable-container__header"
      drag-handle
    >Test draggable 2</div>
    <div class="draggable-container__body">
      <div
        class="draggable-container draggable-container_inner"
        draggable
      >
        <div
          class="draggable-container__header"
          drag-handle
        >Inner test draggable 2</div>
        <div
          class="draggable-container__body"
        ></div>
      </div>
    </div>
  </div>
</div>
