<div class="dashboard">
  <div
    class="draggable-container"
    draggable
    resizable
    (dragging)="firstContainerDragging = $event"
    (resizing)="firstContainerResizing = $event"
    [snapToDashboardItemsMode]="bitwiseOr(SnappingMode.inner, SnappingMode.outer)"
    [snapRadius]="15"
    (priorityChanged)="firstContainerPriority = $event"
    [style.z-index]="baseZIndex + firstContainerPriority"
    [ngClass]="{
      'draggable-container_dragging': firstContainerDragging,
      'draggable-container_resizing': firstContainerResizing
    }"
  >
    <div
      class="draggable-container__header"
      dragHandle
    >Test draggable 1</div>
    <div class="draggable-container__body">
      <div
        class="draggable-container draggable-container_inner"
        draggable
        resizable
        (dragging)="firstContainerInnerDragging = $event"
        (resizing)="firstContainerInnerResizing = $event"
        [snapToDashboardItemsMode]="bitwiseOr(SnappingMode.inner, SnappingMode.outer)"
        [snapRadius]="15"
        (priorityChanged)="firstContainerInnerPriority = $event"
        [style.z-index]="baseZIndex + firstContainerInnerPriority"
        [ngClass]="{
          'draggable-container_dragging': firstContainerInnerDragging,
          'draggable-container_resizing': firstContainerInnerResizing
        }"
      >
        <div
          class="draggable-container__header"
          dragHandle
        >Inner test draggable 1</div>
        <div
          class="draggable-container__body"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_n"
          resizeHandle="n"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_s"
          resizeHandle="s"
        ></div>
        <div
          class="resizer resizer_vertical resizer_e"
          resizeHandle="e"
        ></div>
        <div
          class="resizer resizer_vertical resizer_w"
          resizeHandle="w"
        ></div>
        <div
          class="resizer resizer_corner resizer_ne"
          resizeHandle="ne"
        ></div>
        <div
          class="resizer resizer_corner resizer_nw"
          resizeHandle="nw"
        ></div>
        <div
          class="resizer resizer_corner resizer_se"
          resizeHandle="se"
        ></div>
        <div
          class="resizer resizer_corner resizer_sw"
          resizeHandle="sw"
        ></div>
      </div>
    </div>
    <div
      class="resizer resizer_horizontal resizer_n"
      resizeHandle="n"
    ></div>
    <div
      class="resizer resizer_horizontal resizer_s"
      resizeHandle="s"
    ></div>
    <div
      class="resizer resizer_vertical resizer_e"
      resizeHandle="e"
    ></div>
    <div
      class="resizer resizer_vertical resizer_w"
      resizeHandle="w"
    ></div>
    <div
      class="resizer resizer_corner resizer_ne"
      resizeHandle="ne"
    ></div>
    <div
      class="resizer resizer_corner resizer_nw"
      resizeHandle="nw"
    ></div>
    <div
      class="resizer resizer_corner resizer_se"
      resizeHandle="se"
    ></div>
    <div
      class="resizer resizer_corner resizer_sw"
      resizeHandle="sw"
    ></div>
  </div>
  <div
    class="draggable-container"
    draggable
    resizable
    (dragging)="secondContainerDragging = $event"
    (resizing)="secondContainerResizing = $event"
    [snapToDashboardItemsMode]="bitwiseOr(SnappingMode.inner, SnappingMode.outer)"
    [snapRadius]="15"
    (priorityChanged)="secondContainerPriority = $event"
    [style.z-index]="baseZIndex + secondContainerPriority"
    [ngClass]="{
      'draggable-container_dragging': secondContainerDragging,
      'draggable-container_resizing': secondContainerResizing
    }"
  >
    <div
      class="draggable-container__header"
      dragHandle
    >Test draggable 2</div>
    <div class="draggable-container__body">
      <div
        class="draggable-container draggable-container_inner"
        draggable
        resizable
        (dragging)="secondContainerInnerDragging = $event"
        (resizing)="secondContainerInnerResizing = $event"
        [snapToDashboardItemsMode]="bitwiseOr(SnappingMode.inner, SnappingMode.outer)"
        [snapRadius]="15"
        (priorityChanged)="secondContainerInnerPriority = $event"
        [style.z-index]="baseZIndex + secondContainerInnerPriority"
        [ngClass]="{
          'draggable-container_dragging': secondContainerInnerDragging,
          'draggable-container_resizing': secondContainerInnerResizing
        }"
      >
        <div
          class="draggable-container__header"
          dragHandle
        >Inner test draggable 2</div>
        <div
          class="draggable-container__body"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_n"
          resizeHandle="n"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_s"
          resizeHandle="s"
        ></div>
        <div
          class="resizer resizer_vertical resizer_e"
          resizeHandle="e"
        ></div>
        <div
          class="resizer resizer_vertical resizer_w"
          resizeHandle="w"
        ></div>
        <div
          class="resizer resizer_corner resizer_ne"
          resizeHandle="ne"
        ></div>
        <div
          class="resizer resizer_corner resizer_nw"
          resizeHandle="nw"
        ></div>
        <div
          class="resizer resizer_corner resizer_se"
          resizeHandle="se"
        ></div>
        <div
          class="resizer resizer_corner resizer_sw"
          resizeHandle="sw"
        ></div>
      </div>
    </div>
    <div
      class="resizer resizer_horizontal resizer_n"
      resizeHandle="n"
    ></div>
    <div
      class="resizer resizer_horizontal resizer_s"
      resizeHandle="s"
    ></div>
    <div
      class="resizer resizer_vertical resizer_e"
      resizeHandle="e"
    ></div>
    <div
      class="resizer resizer_vertical resizer_w"
      resizeHandle="w"
    ></div>
    <div
      class="resizer resizer_corner resizer_ne"
      resizeHandle="ne"
    ></div>
    <div
      class="resizer resizer_corner resizer_nw"
      resizeHandle="nw"
    ></div>
    <div
      class="resizer resizer_corner resizer_se"
      resizeHandle="se"
    ></div>
    <div
      class="resizer resizer_corner resizer_sw"
      resizeHandle="sw"
    ></div>
  </div>
</div>
