.dashboard {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: deepskyblue;
}

.draggable-container {
  position: absolute;

  display: flex;
  flex-direction: column;

  min-height: 300px;
  min-width: 300px;

  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;

  background: forestgreen;
}

.draggable-container__header {
  width: 100%;
  height: 30px;

  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid black;

  background: indianred;

  cursor: grab;

  user-select: none;
}

.draggable-container__body {
  flex: 1;

  position: relative;
}

.draggable-container_dragging {
  background: pink;
}

.draggable-container_dragging .draggable-container__header {
  cursor: grabbing;
}

.draggable-container_inner {
  min-height: 100px;
  min-width: 100px;
}

.resizer {
  position: absolute;
}

.resizer_horizontal {
  height: 3px;
}

.resizer_vertical {
  width: 3px;
}

.resizer_corner {
  height: 3px;
  width: 3px;
}

.resizer_n {
  top: 0;
  left: 0;
  right: 0;

  cursor: ns-resize;
}

.resizer_s {
  bottom: 0;
  left: 0;
  right: 0;

  cursor: ns-resize;
}

.resizer_e {
  top: 0;
  left: 0;
  bottom: 0;

  cursor: ew-resize;
}

.resizer_w {
  top: 0;
  right: 0;
  bottom: 0;

  cursor: ew-resize;
}

.resizer_ne {
  left: 0;
  top: 0;

  cursor: nwse-resize;
}

.resizer_nw {
  top: 0;
  right: 0;


  cursor: nesw-resize;
}

.resizer_se {
  bottom: 0;
  left: 0;

  cursor: nesw-resize;
}

.resizer_sw {
  bottom: 0;
  right: 0;

  cursor: nwse-resize;
}
