<div class="dashboard">
  <div
    class="draggable-container"
    draggable
    resizable
    (dragging)="firstContainerDragging = $event"
    (resizing)="firstContainerResizing = $event"
    [ngClass]="{
      'draggable-container_dragging': firstContainerDragging,
      'draggable-container_resizing': firstContainerResizing
    }"
  >
    <div
      class="draggable-container__header"
      dragHandle
    >Test draggable 1</div>
    <div class="draggable-container__body">
      <div
        class="draggable-container draggable-container_inner"
        draggable
        resizable
        (dragging)="firstContainerInnerDragging = $event"
        (resizing)="firstContainerInnerResizing = $event"
        [ngClass]="{
          'draggable-container_dragging': firstContainerInnerDragging,
          'draggable-container_resizing': firstContainerInnerResizing
        }"
      >
        <div
          class="draggable-container__header"
          dragHandle
        >Inner test draggable 1</div>
        <div
          class="draggable-container__body"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_n"
          resizer="n"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_s"
          resizer="s"
        ></div>
        <div
          class="resizer resizer_vertical resizer_e"
          resizer="e"
        ></div>
        <div
          class="resizer resizer_vertical resizer_w"
          resizer="w"
        ></div>
        <div
          class="resizer resizer_corner resizer_ne"
          resizer="ne"
        ></div>
        <div
          class="resizer resizer_corner resizer_nw"
          resizer="nw"
        ></div>
        <div
          class="resizer resizer_corner resizer_se"
          resizer="se"
        ></div>
        <div
          class="resizer resizer_corner resizer_sw"
          resizer="sw"
        ></div>
      </div>
    </div>
    <div
      class="resizer resizer_horizontal resizer_n"
      resizer="n"
    ></div>
    <div
      class="resizer resizer_horizontal resizer_s"
      resizer="s"
    ></div>
    <div
      class="resizer resizer_vertical resizer_e"
      resizer="e"
    ></div>
    <div
      class="resizer resizer_vertical resizer_w"
      resizer="w"
    ></div>
    <div
      class="resizer resizer_corner resizer_ne"
      resizer="ne"
    ></div>
    <div
      class="resizer resizer_corner resizer_nw"
      resizer="nw"
    ></div>
    <div
      class="resizer resizer_corner resizer_se"
      resizer="se"
    ></div>
    <div
      class="resizer resizer_corner resizer_sw"
      resizer="sw"
    ></div>
  </div>
  <div
    class="draggable-container"
    draggable
    resizable
    (dragging)="secondContainerDragging = $event"
    (resizing)="secondContainerResizing = $event"
    [ngClass]="{
      'draggable-container_dragging': secondContainerDragging,
      'draggable-container_resizing': secondContainerResizing
    }"
  >
    <div
      class="draggable-container__header"
      dragHandle
    >Test draggable 2</div>
    <div class="draggable-container__body">
      <div
        class="draggable-container draggable-container_inner"
        draggable
        resizable
        (dragging)="secondContainerInnerDragging = $event"
        (resizing)="secondContainerInnerResizing = $event"
        [ngClass]="{
          'draggable-container_dragging': secondContainerInnerDragging,
          'draggable-container_resizing': secondContainerInnerResizing
        }"
      >
        <div
          class="draggable-container__header"
          dragHandle
        >Inner test draggable 2</div>
        <div
          class="draggable-container__body"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_n"
          resizer="n"
        ></div>
        <div
          class="resizer resizer_horizontal resizer_s"
          resizer="s"
        ></div>
        <div
          class="resizer resizer_vertical resizer_e"
          resizer="e"
        ></div>
        <div
          class="resizer resizer_vertical resizer_w"
          resizer="w"
        ></div>
        <div
          class="resizer resizer_corner resizer_ne"
          resizer="ne"
        ></div>
        <div
          class="resizer resizer_corner resizer_nw"
          resizer="nw"
        ></div>
        <div
          class="resizer resizer_corner resizer_se"
          resizer="se"
        ></div>
        <div
          class="resizer resizer_corner resizer_sw"
          resizer="sw"
        ></div>
      </div>
    </div>
    <div
      class="resizer resizer_horizontal resizer_n"
      resizer="n"
    ></div>
    <div
      class="resizer resizer_horizontal resizer_s"
      resizer="s"
    ></div>
    <div
      class="resizer resizer_vertical resizer_e"
      resizer="e"
    ></div>
    <div
      class="resizer resizer_vertical resizer_w"
      resizer="w"
    ></div>
    <div
      class="resizer resizer_corner resizer_ne"
      resizer="ne"
    ></div>
    <div
      class="resizer resizer_corner resizer_nw"
      resizer="nw"
    ></div>
    <div
      class="resizer resizer_corner resizer_se"
      resizer="se"
    ></div>
    <div
      class="resizer resizer_corner resizer_sw"
      resizer="sw"
    ></div>
  </div>
</div>
