.dashboard {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: deepskyblue;
}

.draggable-container {
  position: absolute;

  min-height: 300px;
  min-width: 300px;

  border: 1px solid black;
  box-sizing: border-box;

  background: forestgreen;
}

.draggable-container__header {
  width: 100%;
  height: 30px;

  box-sizing: border-box;
  border-bottom: 1px solid black;

  background: indianred;

  cursor: grab;
}

.draggable-container_dragging .draggable-container__header {
  cursor: grabbing;
}

.draggable-container__body {
}
